<!-- templates/index.html -->
{% extends "_base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block content %}
  <main class="flex-1 flex flex-col items-center justify-center p-8">
    
    <div class="max-w-[988px] mx-auto flex-1 flex flex-col items-center justify-center p-4">

      <h1 class="text-xl text-white font-cabin mb-6 lg:text-2xl">
        Nessa
      </h1>

      <p class="text-4xl text-white text-center font-bold font-mulish lg:text-5xl mb-10">
        La plateforme <br>pour apprendre nos langues
      </p>

      <p class="text-2xl font-bold text-white font-mulish mb-10 lg:text-3xl">
        Bientôt disponible
      </p>

      <p class="text-md text-white text-center font-mulish mb-4 max-w-[25em]">
        Renseignez votre adresse e-mail pour être parmi les premières personnes à connaître la date de lancement
      </p>


      <!-- Input Field -->
      <form
        class="w-full max-w-md p-4 rounded-xl border border-primary shadow-xl bg-white/70 mb-4"
        method="post"
        action="#"
      >
      {% csrf_token %}
        <div class="flex">
          {{ waitlist_form.email|as_crispy_field }}

          <button 
            class="flex flex-row bg-primary-300 text-md text-white px-2 py-3 rounded-lg border border-transparent font-mulish focus:border-transparent focus:ring-primary" type="submit"
          >
            <span class="mr-3">Envoyer</span>
            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
              <path d="M17 7L6 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" /> <path d="M11 6.13151 16.6335 5.65662 17.4885 6.51153C18.3434 7.36645 17.8684 13 17.8684 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

          </button>
          
        </div>
      </form>
      
      {% if waiting_count %}
      <p class="text-sm text-white text-center font-mulish">
        {{waiting_count}} personne{{waiting_count|pluralize}} déjà inscrite
      </p>
      {% endif %}
    
    </div>

  </main>
{% endblock content %}